<div class="bg">
    <div class="container-xl">
        <div class="head">
            <h1>Image Prediction using CIFAR-10</h1>
        </div>
        <br><br><br>
        <p>CIFAR-10 is a dataset that contains large number of images of 10 objects.
            These images are used to train machine learning models.
            This is a model trained using CIFAR-10 dataset.
            If given any images of the 10 objects for which the model is trained, it will be able
            to predict the object with an accuracy of 84%.
            <br>
            Give it a try!
        </p>
        <p>For further reading visit: 
            <a href="https://www.cs.toronto.edu/~kriz/cifar.html">CIFAR website</a>
        </p>
        <br>
        <br>
    </div>
</div>